@disc-radius: 300px;

.page {
  display: flex;
  flex-direction: column;

  .disc {
    width: @disc-radius;
    height: @disc-radius;
    background-color: antiquewhite;
    border-radius: 50%;
  }
}
